<!DOCTYPE html>
<html lang="en">
<head>  <title>Bootstrap Example</title> 
    <meta charset="utf-8">
     
    <meta content="width=device-width, initial-scale=1" name="viewport">
     
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    #form1 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #EDEDED;
  border-radius: 5px;
}

    #form2 {
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px #e6ebe7;
  border-radius: 5px;

}


</style>
<body>
<div class="container"> 
    <h1 align="center" style="height:55px;background-color:#7AA1EC;">
        Recommendation Engine
    </h1><br/>
    <form action="{% url 'home' %}" class="form-inline" id="form1" method="POST">
        {% csrf_token %}   
        <div class="form-group col-md-5">     
            <label for="text1" style="font-size:20px;">Product Id</label>     
            <input class="form-control" id="text1" name="product" placeholder="Enter with Comma Separated"
                   required
                   style='width:285px' type="text">
        </div>
        <div class="form-group col-md-4">     
            <label for="date_val" style="font-size:20px;">Date</label>     
            <input class="form-control" id="date_val" name="date" placeholder="Enter Date" required type="date">   
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="form-group col-md-1">
            <a class="btn btn-primary" href="{% url 'home' %}" type="submit">Clear</a>
        </div>
         
    </form>
    <br/><br/>
    {% if products %}
    <div class="mb-4" id="form2">
        <div class="table-responsive text-nowrap">
            <h4 align="center">Suggestion Table</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Profit</th>
                    <th scope="col">Favourite</th>
                    <th scope="col">Recommended Shelf</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products%}
                <tr>
                    <td>{{ product.product.product_id }}</td>
                    <td>{{ product.product.description }}</td>
                    <td>{{ product.product.profit_percentage }}</td>
                    <td>{{ product.favorite }}</td>
                    <td>{{ product.shelf }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <iframe allowFullScreen="true" frameborder="0"
            height="541.25"
            src="https://app.powerbi.com/reportEmbed?reportId=7a8fcc8c-6f79-4537-898e-f4f5f0f0cea4&autoAuth=true&ctid=43790b1f-ab73-461d-8842-9477f06beff6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" width="1140"></iframe>
</div>
</body>
</html>